<div class="py">
	<a href="/img/python.jpg"
		><img src="../img/python.jpg" alt="" class="progra"
	/></a>
	<h5 class="titi">From Programming Hero</h5>
	<hr />
</div>
<div class="ht">
	<a href="/img/ht.jpg"
		><img src="../img/ht.jpg" alt="" class="progra"
	/></a>
	<h5 class="titi">HTML5, CSS3, Bootstrap 4</h5>
	<hr />
</div>
<div class="py">
	<a href="/img/bdmo.png"
		><img src="../img/bdmo.png" alt="" class="progra"
	/></a>
	<h5 class="titi">From Bangladesh Mathematical Olympiad</h5>
</div>