<h1>My Works</h1>

      <div class="col">
				<div class="row">
          <a href="https://saifsaki.github.io/Agency/"
            ><img src="../img/boot.png" alt=""
          /></a>
        </div>
				<div class="row">
          <a href="http://talk-with-sakib.herokuapp.com/"
            ><img src="../img/chat.png" alt=""
          /></a>
        </div>
				<div class="row">
          <a href="https://saifsaki.github.io/Food/"
            ><img src="../img/fod.png" alt=""
          /></a>
        </div>
				
       
        
        
      </div>

      <div class="col">
				<div class="row">
          <a href="https://saifsaki.github.io/Analog-Clock/"
            ><img src="../img/clock.png" alt=""
          /></a>
        </div>
				<div class="row">
          <a href="https://saifsaki.github.io/Brigate/"
            ><img src="../img/brigate.png" alt=""
          /></a>
        </div>
        <div class="row">
          <a href="https://saifsaki.github.io/Calculator/"
            ><img src="../img/calculator.jpg" alt=""
          /></a>
        </div>
        
				
      </div>

      <div class="col">
				<div class="row">
          <a href="https://saifsaki.github.io/Card-UI/"
            ><img src="../img/card.png" alt=""
          /></a>
        </div>
        <div class="row">
          <a href="https://saifsaki.github.io/Decimal-To-Binary/"
            ><img src="../img/dtobi.png" alt=""
          /></a>
        </div>
        <div class="row">
          <a href="https://saifsaki.github.io/Get-List/"
            ><img src="../img/controller.jpg" alt=""
          /></a>
        </div>
        
      </div>

      <div class="col">
        <div class="row">
          <a href="https://saifsaki.github.io/flex_magic/"
            ><img src="../img/flex.png" alt=""
          /></a>
        </div>
        <div class="row">
          <a href="https://saifsaki.github.io/Parralax-2/"
            ><img src="../img/2.5D.png" alt=""
          /></a>
        </div>
        <div class="row">
          <a href="https://saifsaki.github.io/Parallax-1/"
            ><img src="../img/moon.png" alt=""
          /></a>
        </div>
      </div>