<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Honors and Awards</title>
	<link rel="stylesheet" href="../styles/main.css">
	<link rel="stylesheet" href="../styles/awards.css">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link
		href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
		rel="stylesheet"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap"
		rel="stylesheet"
	/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="main-menu">
			<div class="main-menu__top">
				<h1 class="top_heading">Sakib</h1>
				<span>Programmer </span>
			</div>
			<div class="main-menu_nav">
				<a href="/">Home</a>
				<a href="#abt">About</a>
				<a href="#skills">Skills</a>
				<a href="/portfolio">Portfolio</a>
				<a href="/article">Articles</a>
				<a href="/awards">Honors and awards</a>

			</div>
			<div class="social">
				<ul>
					<li><a href=""><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-github"></i></a></li>
					<li><a href=""><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>

		<div id="hidden_in_header">
			<div id="toggle"></div>
      <div id="sidebar">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#abt">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Honors and awards </a></li>
        </ul>
      </div>
		</div>
	</header>
	<h1 class="heading">Honors and Awards</h1>
	<section id="note">
		<p>Since, I am a programmer and math lover. I have Some achievements. I got a Certificate from Programming Hero for python.</p>
		<p> Then I got a certificate on HTML5, CSS3 and Bootstrap 4.</p> 
		<p> This year (2021) I did participate in Bangladesh Mathematical Olympiad and I was selected for Regional (Dhaka) Mathematical olympiad in secondary category. They gave me certificate.</p>
		<p> Also, this year I did participate in Bangladesh Physics Olympiad-2021. I was a Regional winner in Dhaka. I stood 6th in Dhaka Region. I attended the national physics olympiad.  </p>
	</section>

	<section id="awards">
		<div class="py">
			<a href="/img/python.jpg"><img src="../img/python.jpg" alt="" class="progra"></a>
			<h5 class="titi">From Programming Hero</h5>
			<hr>
		</div>
		<div class="ht">
			<a href="/img/ht.jpg"><img src="../img/ht.jpg" alt="" class="progra"></a>
			<h5 class="titi">HTML5, CSS3, Bootstrap 4 </h5>
			<hr>
		</div>
		<div class="py">
			<a href="/img/bdmo.png"><img src="../img/bdmo.png" alt="" class="progra"></a>
			<h5 class="titi">From Bangladesh Mathematical Olympiad</h5>
		</div>

	</section>


		<!-- Footer Start -->
		<footer>
			<hr>
			<p>&copy; 2021 Copyright. Md. Sakib AL Hasan All Rights Reserved</p>
		</footer>
		<!-- Footer End -->
	<script src="../scripts/main.js"></script></body>
</html>
