<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sakib Al Hasan</title>
    <link rel="stylesheet" href="../styles/main.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <%- include('./partials/header.ejs') %> 
    </header>
		<div class="clock">
			<div id="MyClockDisplay"></div>
		</div>
    <section id="hero">
      <div class="wel">
        <h1 class="welcome">
          <span>H</span><span>i,</span> <br />
          <span>I</span><span>'m</span> <span class="sakib">Sakib, </span>
          <br />
          <span>W</span>
          <span>e</span>
          <span>b</span>
          <span> </span>
          <span>D</span>
          <span>e</span>
          <span>v</span>
          <span>e</span>
          <span>l</span>
          <span>o</span>
          <span>p</span>
          <span>e</span>
          <span>r</span> <br>
					<p class="tt">HTML/CSS/JavaScript/React JS</p>
        </h1>
      </div>

      <div class="img_sakib">
        <img class="sakib_img" src="../img/sak.jpg" alt="" />
      </div>
    </section>

    <div class="hero">
      <div class="snow">
        <%- include('./partials/animation.ejs') %> 
      </div>
    </div>

    <!-- About Start -->
    <section id="abt">
      <div class="container">
        <h1 class="about_heading">About</h1>
        <div class="about-me-info">
          <h2>بسم الله</h2>
          <p>
            I am a 9th standard student and web application developer. There's
            nothing lot to say about myself . I am a science enthusiast. I am a
            problem lover, I love problems to solve and to love again.
          </p>
          <p>
            I have extreme fascination in computer programming, mathematics and
            physics equally.
          </p>
        </div>
      </div>
    </section>
    <!-- About End -->

    <!-- Skills start -->
    <section id="skills">
      <h1 class="about_heading">Skills</h1>
      <div class="about-me-info">
        <p>
          Mainly I am a web developer. I can develop websites using nodejs,
          html, css etc. Now, I am Learning new concepts of web development such
          as React JS
        </p>
      </div>
    </section>

    <!-- Skills End -->

    <!-- Bars Start -->
    <section id="lets">
      <div class="skill_bar">
        <li></li>
        <h3>HTML5</h3>
        <span class="bar"><span class="html"></span></span>
        <li></li>
        <h3>CSS3</h3>
        <span class="bar"><span class="css"></span></span>

        <li></li>
        <h3>JavaScript</h3>
        <span class="bar"><span class="js"></span></span>
        <li></li>
        <h3>Python</h3>
        <span class="bar"><span class="python"></span></span>
        <li></li>
      </div>
    </section>
    <!-- Bars End -->

    <!-- Footer Start -->
    <footer>
      <%- include('./partials/footer.ejs') %> 
    </footer>
    <!-- Footer End -->
  </body>
  <script src="../scripts/main.js"></script>
</html>
