<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sakib Al Hasan</title>
    <link rel="stylesheet" href="../styles/main.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="main-menu">
        <div class="main-menu__top">
          <h1 class="top_heading">Sakib</h1>
          <span>Programmer </span>
        </div>
        <div class="main-menu_nav">
          <a href="">Home</a>
          <a href="#abt">About</a>
          <a href="#skills">Skills</a>
          <a href="/portfolio">Portfolio</a>
          <a href="/article">Articles</a>
          <a href="/awards">Honors and awards</a>
        </div>
        <div class="social">
          <ul>
            <li>
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://github.com/saifsaki"
                ><i class="fa fa-github"></i
              ></a>
            </li>
            <li>
              <a href="https://sakibalhasan17442@gmail.com"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div id="hidden_in_header">
        <div id="toggle"></div>
        <div id="sidebar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#abt">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/article">Articles</a></li>
            <li><a href="/awards">Honors and awards </a></li>
          </ul>
        </div>
      </div>
    </header>
		<div class="clock">
			<div id="MyClockDisplay"></div>
		</div>
    <section id="hero">
      <div class="wel">
        <h1 class="welcome">
          <span>H</span><span>i,</span> <br />
          <span>I</span><span>'m</span> <span class="sakib">Sakib, </span>
          <br />
          <span>W</span>
          <span>e</span>
          <span>b</span>
          <span> </span>
          <span>D</span>
          <span>e</span>
          <span>v</span>
          <span>e</span>
          <span>l</span>
          <span>o</span>
          <span>p</span>
          <span>e</span>
          <span>r</span>
        </h1>
      </div>

      <div class="img_sakib">
        <img class="sakib_img" src="../img/sakib.jpg" alt="" />
      </div>
    </section>

    <div class="hero">
      <div class="snow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1024 1536"
          preserveAspectRatio="xMidYMax slice"
        >
          <g fill="#ed5565" fill-opacity=".15" transform="translate(55 42)">
            <g id="snow-bottom-layer">
              <ellipse cx="6" cy="1009.5" rx="6" ry="5.5" />
              <ellipse cx="138" cy="1110.5" rx="6" ry="5.5" />
              <ellipse cx="398" cy="1055.5" rx="6" ry="5.5" />
              <ellipse cx="719" cy="1284.5" rx="6" ry="5.5" />
              <ellipse cx="760" cy="1155.5" rx="6" ry="5.5" />
              <ellipse cx="635" cy="1459.5" rx="6" ry="5.5" />
              <ellipse cx="478" cy="1335.5" rx="6" ry="5.5" />
              <ellipse cx="322" cy="1414.5" rx="6" ry="5.5" />
              <ellipse cx="247" cy="1234.5" rx="6" ry="5.5" />
              <ellipse cx="154" cy="1425.5" rx="6" ry="5.5" />
              <ellipse cx="731" cy="773.5" rx="6" ry="5.5" />
              <ellipse cx="599" cy="874.5" rx="6" ry="5.5" />
              <ellipse cx="339" cy="819.5" rx="6" ry="5.5" />
              <ellipse cx="239" cy="1004.5" rx="6" ry="5.5" />
              <ellipse cx="113" cy="863.5" rx="6" ry="5.5" />
              <ellipse cx="102" cy="1223.5" rx="6" ry="5.5" />
              <ellipse cx="395" cy="1155.5" rx="6" ry="5.5" />
              <ellipse cx="826" cy="943.5" rx="6" ry="5.5" />
              <ellipse cx="626" cy="1054.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="1366.5" rx="6" ry="5.5" />
              <ellipse cx="6" cy="241.5" rx="6" ry="5.5" />
              <ellipse cx="138" cy="342.5" rx="6" ry="5.5" />
              <ellipse cx="398" cy="287.5" rx="6" ry="5.5" />
              <ellipse cx="719" cy="516.5" rx="6" ry="5.5" />
              <ellipse cx="760" cy="387.5" rx="6" ry="5.5" />
              <ellipse cx="635" cy="691.5" rx="6" ry="5.5" />
              <ellipse cx="478" cy="567.5" rx="6" ry="5.5" />
              <ellipse cx="322" cy="646.5" rx="6" ry="5.5" />
              <ellipse cx="247" cy="466.5" rx="6" ry="5.5" />
              <ellipse cx="154" cy="657.5" rx="6" ry="5.5" />
              <ellipse cx="731" cy="5.5" rx="6" ry="5.5" />
              <ellipse cx="599" cy="106.5" rx="6" ry="5.5" />
              <ellipse cx="339" cy="51.5" rx="6" ry="5.5" />
              <ellipse cx="239" cy="236.5" rx="6" ry="5.5" />
              <ellipse cx="113" cy="95.5" rx="6" ry="5.5" />
              <ellipse cx="102" cy="455.5" rx="6" ry="5.5" />
              <ellipse cx="395" cy="387.5" rx="6" ry="5.5" />
              <ellipse cx="826" cy="175.5" rx="6" ry="5.5" />
              <ellipse cx="626" cy="286.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
            </g>
          </g>
          <g fill="white" fill-opacity=".3" transform="translate(65 63)">
            <g id="snow-top-layer">
              <circle cx="8" cy="776" r="8" />
              <circle cx="189" cy="925" r="8" />
              <circle cx="548" cy="844" r="8" />
              <circle cx="685" cy="1115" r="8" />
              <circle cx="858" cy="909" r="8" />
              <circle
                cx="874"
                cy="1438"
                r="8"
                transform="rotate(180 874 1438)"
              />
              <circle
                cx="657"
                cy="1256"
                r="8"
                transform="rotate(180 657 1256)"
              />
              <circle
                cx="443"
                cy="1372"
                r="8"
                transform="rotate(180 443 1372)"
              />
              <circle
                cx="339"
                cy="1107"
                r="8"
                transform="rotate(180 339 1107)"
              />
              <circle cx="24" cy="1305" r="8" transform="rotate(180 24 1305)" />
              <circle cx="8" cy="8" r="8" />
              <circle cx="189" cy="157" r="8" />
              <circle cx="548" cy="76" r="8" />
              <circle cx="685" cy="347" r="8" />
              <circle cx="858" cy="141" r="8" />
              <circle cx="874" cy="670" r="8" transform="rotate(180 874 670)" />
              <circle cx="657" cy="488" r="8" transform="rotate(180 657 488)" />
              <circle cx="443" cy="604" r="8" transform="rotate(180 443 604)" />
              <circle cx="339" cy="339" r="8" transform="rotate(180 339 339)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
            </g>
          </g>
        </svg>
      </div>
    </div>

    <!-- About Start -->
    <section id="abt">
      <div class="container">
        <h1 class="about_heading">About</h1>
        <div class="about-me-info">
          <h2>بسم الله</h2>
          <p>
            I am a 9th standard student and web application developer. There's
            nothing lot to say about myself . I am a science enthusiast. I am a
            problem lover, I love problems to solve and to love again.
          </p>
          <p>
            I have extreme fascination in computer programming, mathematics and
            physics equally.
          </p>
        </div>
      </div>
    </section>
    <!-- About End -->

    <!-- Skills start -->
    <section id="skills">
      <h1 class="about_heading">Skills</h1>
      <div class="about-me-info">
        <p>
          Mainly I am a web developer. I can develop websites using nodejs,
          html, css etc. Now, I am Learning new concepts of web development such
          as React JS
        </p>
      </div>
    </section>

    <!-- Skills End -->

    <!-- Bars Start -->
    <section id="lets">
      <div class="skill_bar">
        <li></li>
        <h3>HTML5</h3>
        <span class="bar"><span class="html"></span></span>
        <li></li>
        <h3>CSS3</h3>
        <span class="bar"><span class="css"></span></span>

        <li></li>
        <h3>JavaScript</h3>
        <span class="bar"><span class="js"></span></span>
        <li></li>
        <h3>Python</h3>
        <span class="bar"><span class="python"></span></span>
        <li></li>
      </div>
    </section>
    <!-- Bars End -->

    <!-- Footer Start -->
    <footer>
      <hr />
      <p>&copy; 2021 Copyright. Md. Sakib AL Hasan All Rights Reserved</p>
    </footer>
    <!-- Footer End -->
  </body>
  <script src="../scripts/main.js"></script>
</html>
