@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #ed5565;
	border-radius: 5px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 2);
}
::selection {
  color: #181818;
  background-color: #ed5565;
  padding: 2px;
}
body {
  background-color: #1d1d1d;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #fff;
  list-style: none;
  overflow-x: hidden;
}
/* Header Start */

.clock {
  font-family: "Yanone Kaffeesatz", sans-serif;
  max-width: 210px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 25);
  padding: 20px 30px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2rem;
  color: red;
  text-align: center;
  position: absolute;
  right: 2%;
  top: 1rem;
}
.top_heading {
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 2rem;
}

.top_heading:hover {
  color: #ed5565;
}
p.email {
	color: #707070;
	margin-bottom: 2rem;
}
.main-menu__top {
  background: #000;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 2rem 0;
}
.main-menu {
  width: 10rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* Header End */

/* Hero Start */

.welcome {
  font-size: 60px;
  position: absolute;
  top: 30%;
  left: 18%;
  color: #fff;
  z-index: 1000;
}
.welcome span:hover {
  color: #3ee798;
  cursor: pointer;
  transition: 0.5s;
}
.sakib {
  color: #ed5565;
}
.sakib:hover {
  color: #ed5565 !important;
}
.tt {
	letter-spacing: 4px;
	word-spacing: 10px;
	font-size: 1rem;
	font-weight: 400;
	color: #707070;
	margin-top: 15px;
	word-spacing: 1px;
}
#hero {
  height: 100vh;
}
/* Hero End */

/* about start */
#about {
  height: 500px;
  padding: 1rem 5rem;
  margin: 3rem 0;
}
#about h1 {
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 500;
  color: #ed5565;
  transition: 0.4s;
}
.about_box {
  margin-top: 3rem;
}
.about_box p {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0 2rem;
}
/* about end */
/* Animation  */

/* .hero {
  /* background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%); */
/* min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
 */

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 22.5s infinite linear;
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 45s infinite linear;
  animation: fall 45s infinite linear;
}

@-webkit-keyframes fall {
  100% {
    transform: translateY(0);
  }
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
/* Animation End */

/* Menu Start */
.main-menu_nav {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid #282828;
  margin-bottom: 109px;
}
.main-menu_nav a {
  font-family: "Texturina", serif;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.2rem;
  color: #909096;
  text-decoration: none;
  line-height: 4rem;
  border-bottom: 1px solid #282828;
  transition: color 0.3s, background-color 0.3s;
}
.main-menu_nav a:hover {
  color: #ed5565;
}
.main-menu_nav a:last-child {
  font-size: 1rem;
}
.social ul {
  color: #ed5565;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 20rem;
}
.social ul li a i {
  text-decoration: none;
  color: #ed5565;
  margin-right: 1rem;
  transition: 0.4s;
}
.social ul li a i:hover {
  color: #909096;
}
.sakib_img {
  height: 420px;
  width: 350px;
  position: absolute;
  right: 8%;
  top: 20%;
}

/* Menu end */

/* Toggler Button start */
#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #ed5565;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  z-index: 1000000;
	border-radius: 10px;
}
#toggle:hover {
  background: #003147;
}
#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.3s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}
#hidden_in_header {
  display: none;
}
#sidebar {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #181818;
  transition: 0.5s;
  font-family: "Texturina", serif;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul {
  position: relative;
  margin-top: 50px;
}

#sidebar ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
}

#sidebar ul li a {
  color: #909096;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: 0.4s;
}
#sidebar ul li a:hover {
  color: #ed5565;
}
/* Toggler Button End*/

/* Animation Start */

/* Animation End */

/* About Start */
#abt {
  height: 100vh;
  padding-top: 1rem;
}

#abt h1 {
  z-index: 0;
  opacity: 0.1;
  margin-bottom: 1rem;
  color: #707070;
  font-size: 8rem;
  font-weight: 700;
  text-align: right;
  /* margin-right: 6rem; */
  position: relative;
  right: 15%;
}

.about-me-info {
  max-width: 600px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 25);
  padding: 50px;
  position: relative;
  top: -10%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.3rem;
}
.about-me-info h2 {
  color: #ed5565;
  text-align: center;
}
/* About End */

/* Skills Start */
#skills {
  margin-bottom: 5rem;
}
.about-me-info {
  max-width: 600px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 25);
  padding: 50px;
  position: relative;
  top: -10%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.3rem;
}
#skills h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.1;
  margin-bottom: 2rem;
  color: #707070;
  font-size: 8rem;
  font-weight: 700;
  text-align: right;
  /* margin-right: 6rem; */
  position: relative;
  right: 15%;
}

/* Skills End */

/* Lets Start */
#lets {
  overflow-x: hidden;
  margin-bottom: 4rem;
}
.skill_bar {
  width: 500px;
  margin: 20px auto;
  color: white;
}
.skill_bar li {
  margin: 20px 0;
}
.bar {
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px #2187e7b3;
}
.bar span {
  height: 2px;
  float: left;
  background-color: #2187e7;
}
.bar .html {
  background: red;
}
.bar .js {
  background: yellow;
}
.bar .python {
  background: #3776ab;
}
.html {
  width: 90%;
  animation: html 2s;
}
.css {
  width: 70%;
  animation: css 2s;
}
.js {
  width: 65%;
  animation: js 2s;
}
.python {
  width: 10%;
  animation: python 2s;
}
/* Lets End */

/* Footer Start */
footer {
  background-color: #ed5565;
  /* min-width: 100% !important; */
}

footer hr {
  border: 2px solid #707070;
  /* margin-top: 80px; */
  /* min-width: 100% !important; */
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  padding: 20px 0;
}
/* Footer End */

/* Media Queries */
@media only screen and (max-width: 991.98px) {
  #hidden_in_header {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .welcome {
    left: 10%;
  }
  .sakib_img {
    right: 10%;
  }
	.clock {
		left: 2%;
	}
}
@media only screen and (max-width: 890px) {
  .welcome {
    left: 5%;
  }
  .sakib_img {
    right: 5%;
  }
}
@media only screen and (max-width: 836px) {
  .welcome {
    left: 2%;
  }
  .sakib_img {
    right: 2%;
  }
}
@media only screen and (max-width: 740px) {
  .welcome {
    font-size: 50px;
  }
  .sakib_img {
    height: 350px;
    width: 292px;
  }
}
@media only screen and (max-width: 625px) {
  .welcome {
    font-size: 40px;
  }
  .sakib_img {
    height: 300px;
    width: 250px;
  }
}

@media only screen and (max-width: 565.99px) {
  .sakib_img {
    height: 250px;
    width: 208.33px;
    top: 55%;
    right: 40%;
    left: 20%;
  }
  .welcome {
    top: 20%;
    left: 20%;
  }
  .bar {
    width: 300px;
  }
	.clock {
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 411.98px) {
	.clock {
		display: none;
	}
}
@media only screen and (max-width: 359.98px) {
  #abt {
    margin-top: 3rem;
  }
  .sakib_img {
    height: 200px;
    width: 165px;
  }
  .welcome {
    /* font-size: 30px; */
  }
  #sidebar {
    width: 150px;
  }
  #sidebar ul li a {
    font-size: 15px;
    justify-content: center;
  }
  #abt h1 {
    font-size: 7rem;
  }
  #skills h1 {
    font-size: 7rem;
  }
  .about-me-info {
    font-size: 14px;
  }
  .bar {
    width: 200px;
  }
}
@media only screen and (max-width: 300.99px) {
  .welcome {
    font-size: 30px;
  }
  #abt h1 {
    font-size: 5rem;
  }
  #skills h1 {
    font-size: 5rem;
  }
  #sidebar {
    width: 100px;
  }
  #sidebar ul li a {
    margin-left: -20px;
    font-size: 12px;
  }
  #sidebar ul li a:last-child {
    font-size: 10px;
  }
  .bar {
    width: 100px;
  }
}
@media only screen and (max-width: 224.998px) {
  .welcome {
    left: 10%;
  }
  .sakib_img {
    width: 125px;
    height: 150px;
  }
  .about-me-info {
    font-size: 10px;
  }
}
@media only screen and (max-width: 199.98px) {
  .welcome {
    font-size: 20px;
  }
}

/* Animations */
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}
